<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <form action="" method="post">
        <input type="text" name="num1">
        <select name="cal" id="">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">X</option>
            <option value="/">:</option>
        </select>
        <input type="text" name="num2">
        <button type="submit">Result</button>
        <a href="/result" class="btn btn-success">Result</a>
    </form>
</div>
</body>
</html>